* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.container {
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
    margin-bottom: 20px;
    padding: 32px;
    margin-right: 10px;
}

.header-wrapper {
    background-color: hsla(220, 7%, 92%, 0.808);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 71px;
    border-radius: 10px;

}

.style {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    font-size: larger;
    font-weight: normal;
}

.menu-wrapper {
    background-color: #E8E9EB;
    margin-top: 10px;
    height: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    height: 258px;
    margin-top: 13px;

}

.content-wrapper1 {
    width: 15%;
    height: 246px;
    background-color: #E8E9EB;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-top: 0px;
}

.content-wrapper2 {
    width: 15%;
    height: 246px;
    background-color: #E8E9EB;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    margin-top: 0px;
}

.main-wrapper {
    display: flex;
    width: 66%;
    height: 246px;
    background-color: #E8E9EB;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
}

.footer-wrapper {
    background-color: #E8E9EB;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    display: flex;
    margin-top: 21px;
    height: 60px;
}

@media (width <=1000px) {
    .content-wrapper2 {
        display: none;
    }

    .main-wrapper {
        width: 99%;
        height: 170px;
        margin-top: 13px;
    }

    .content-wrapper1 {
        width: 99%;
        height: 93px;
        margin-top: 3px;
    }

    .wrapper {
        display: block;
    }

    .footer-wrapper {
        height: 117px;
        margin-top: 31px;
    }


}